// COLORS
$black: #000000;
$grey1: #060606;
$grey2: #f4f4f4;
$white: #ffffff;
$aqua: rgba(42, 120, 152, 0.8);
$light-blue: #278ed3;
$error: #dd0000;
$error2: #eb2a2a;

// EFFECTS
$shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);

// FONTS
$main-font: 'Open Sans';
