// COLORS
$black: #000000;
$dark-grey: #060606;
$grey: #d3d3d3;
$white: #ffffff;
$light-blue: #278ed3;
$error: #dd0000;

// EFFECTS
$shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);

// FONTS
$main-font: 'Open Sans';
