// COLORS
$black: #000000;
$dark-grey: #060606;
$grey: #a6a6a6;
$white: #ffffff;
$light-blue: #2fbcf7;
$error: #b10000;

// EFFECTS
$shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);

// FONTS
$main-font: 'Open Sans';
