.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  @include respond(phone) {
    width: 100%;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    min-width: 32rem;
  }

  &__smiles {
    width: 13.3rem;
  }

  &__title {
    font-size: 2rem;
    margin: 1.6rem auto 1.3rem;
  }

  &__subtitle {
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: none;
    margin: 1.6rem 0 1.3rem;
    text-align: center;
  }

  &__paragraph {
    font-size: 1.4rem;
    text-transform: none;
    text-align: center;
    margin: 0 auto 5rem;
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-container {
      width: 18.8rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__link {
    width: 12rem;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 1.9rem 0 8rem;
    padding-top: 1rem;
    border-top: 0.5px solid $black;
    text-decoration: none;
    color: $black;
    cursor: pointer;

    &--facebook {
      width: 100%;
      margin: 5.5rem auto 0;
      font-weight: 700;
      font-size: 1.2rem;
      text-align: center;
      cursor: pointer;
    }
  }

  &__error {
    color: $error;
    text-transform: none;
    letter-spacing: 1px;
    margin: 0 auto 1.5rem;
    text-align: center;
  }
}
