.new {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 26%;

  &__target-icon {
    width: 3rem;
  }

  &__title {
    margin: 1rem auto 2.6rem;
    font-size: 1.1rem;
  }

  &__form {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__input,
  &__input:focus,
  &__input:active {
    margin-bottom: 1.2rem;
    text-transform: none;
  }

  &__btn-container {
    width: 60%;
    &--fullwidth {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 29rem auto 2rem;
    }
  }

  &__select {
    width: 100%;
  }

  &__smiles {
    margin: 2.5rem auto;
    width: 4.8rem;
  }
}
