.profile {
  background: $white;
  display: flex;
  height: calc(100vh - 5.6rem);

  &__logout {
  }

  &__map {
    width: 74%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
  }
}
