.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 26%;
  height: 100vh;
  background: $aqua;
  display: flex;
  justify-content: center;

  &__content {
    position: relative;
    width: 80%;
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $white;
    margin-top: 8rem;
    width: 80%;
  }

  &__close {
    margin: 1.5rem;
    align-self: flex-end;
    cursor: pointer;
  }

  &__title {
    font-size: 1.4rem;
    text-align: center;
    margin: 1rem 2rem 4rem;
  }

  &__actions {
    width: 7rem;
  }

  &__btn {
    background: $error;
  }
}
