.signUpForm {
  &__container {
    width: 18rem;
    display: flex;
    flex-direction: column;
  }

  &__button {
    @include black-button;
    margin-top: 0.5rem;
  }

  &__error {
    text-align: center;
    color: $error;
  }
}
