.header {
  width: 100%;
  background: $white;
  position: relative;

  @include respond(phone) {
    width: 100%;
  }

  &__icon {
    margin: 2.8rem 2.2rem;
    cursor: pointer;
  }

  &__menu {
    position: absolute;
    top: 2rem;
    left: 6rem;
  }

  &__nav {
    list-style: none;
  }

  &__item a,
  &__item {
    @include default-font-style;
    text-decoration: none;
    font-size: 1.4rem;
    color: $black;
    margin-bottom: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    
    &:hover {
      font-weight: 700;
    }
  }
}
